body {
    text-align: center;
}

.btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px)
}

.confirmation-body {
    height: 100px;
}

.btn {
    margin-right: 15px;
    width: 100px;
}

.confirmation-details {
    height: 150px;
    overflow: scroll;
    border: gray 1px solid;
}

.confirm-warning-header > h5 {
    display: inline-flex;
    margin-left: 5px;
    font-weight: bold;
    margin-bottom: 0;
}

.confirm-warning-header {
    border-bottom: 1px solid #dee2e6;
}

.confirm-warning-header > img {
    margin-bottom: 8px;
}

.demo-btn-group {
    margin-top: 100px;
}

.demo-btn-group > button {
    width: auto !important;
}

.data-loader {
    text-align: center;
}